.card-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  &.indisponivel {
    opacity: 0.5;
  }

  .imagens-kit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .top {
      width: 220px;
      height: auto;
      z-index: 2;
    }

    .bottom {
      width: 180px;
      height: auto;
      z-index: 3;
    }
  }
}
