.card-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kit-top img {
  width: 325px;
  height: auto;
  margin-left: 20px;
}

.kit-bottom img {
  width: 220px;
  height: auto;
  margin-top: -30px;
}

.kit-info {
  display: none;
}
